button[role="button"] {
  border: 0;
  cursor: pointer;
  position: relative;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.68, 0.06),
    border-color 250ms cubic-bezier(0.4, 0, 0.68, 0.06);
  font-size: 1rem;
  font-weight: 500;
  min-height: 2.5rem;
  padding: 0.375rem 2rem;
  border-radius: 100px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}
